form {

	.poll-options {
		padding: 10px;
	}

	input[type='text'] {
		float: right;
		padding: 5px;
		width: 150px;
		background-color: lightblue;
		color: white;
		border: none;
		border-bottom: 1px solid darkblue;
		border-radius: 0px;

		&:focus {
			background-color: darken(lightblue, 10%);
			border: none;
		}

	}

}
