.navbar {

	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 35px;
	line-height: 35px;
	background-color: lightblue;
	margin: 0px;

	ul {
		list-style-type: none;
		text-align: right;
		padding: 0px;
		margin: 0px;
		height: 100%;
		border-bottom: 3px solid darken(lightblue, 20%);

		li {
			display: inline;
			height: 35px;

			a {
				text-decoration: none;
				padding: 8px;
				background-color: darken(lightblue, 10%);

				&:hover {
					background-color: lighten(lightblue, 2%);
					border-bottom: 3px solid darken(lightblue, 40%);
				}

				&:visited, &:active {
					color: white;
				}

			}

		}

	}

}
